header {
    margin-bottom: 2em;
}
header h1 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}
header h1 span {
    display: inline-block;
    text-decoration: none;
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
header h1.title-event .title-event-wrap {
    opacity: 0.33;
    white-space: pre;
}

main {
    margin-bottom: 2.5em;
}
main article + article {
    margin-top: 1.5em;
    border-top: 1px dashed #333333;
    padding-top: 1.5em;
}
main div + div {
    margin-top: 1em;
}
main div em {
    display: inline-block;
    margin-bottom: 0.25em;
    color: #ffffff;
    font-style: normal;
}
main div pre {
    margin: 0.25em 0 0;
    padding: 1em;
    max-height: 10em;
    overflow: auto;
    font-size: 0.75em;
    border: 1px solid #666666;
    background: #10101a;
}