header {
    margin-bottom: 2em;
}
header h1 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}
header h1 span {
    display: inline-block;
    text-decoration: none;
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
header h1.title-event .title-event-wrap {
    opacity: 0.33;
    white-space: pre;
}

.privboard-row {
    margin: 1em 0;
    white-space: nowrap;
}
.privboard-days > span {
    display: inline-block;
    color: #333333;
}
.privboard-days > a {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: #009900;
    outline: 0;
}
.privboard-days > a:hover,
.privboard-days > a:focus {
    cursor: pointer;
    color: #99ff99;
}
.privboard-days > a.isActive {
    color: #99ff99;
}

main {
    margin-bottom: 2.5em;
}
main div + div {
    margin-top: 1em;
}
main div em {
    display: inline-block;
    margin-bottom: 0.25em;
    color: #ffffff;
    font-style: normal;
}
main div pre {
    margin: 0.25em 0 0;
    padding: 1em;
    max-height: 10em;
    overflow: auto;
    font-size: 0.75em;
    border: 1px solid #666666;
    background: #10101a;
}

.pseudo-link {
    position: relative;
    top: -2px;
    color: #009900;
    border-bottom: 1px dotted #009900;
}
.pseudo-link:hover,
.pseudo-link:active {
    cursor: pointer;
    color: #99ff99;
    border-bottom-color: #99ff99;
}